@{
    ViewData["Title"] = "Home Page";
}

<div class="control-section" style="overflow:auto">

    <div class="content-wrapper" id="PivotView">
        <ejs-pivotview id="PivotView" height="300" showFieldList="true">
            <e-datasourcesettings Url="https://localhost:7161/Order">
                <e-rows>
                    <e-field name="ShipCity"></e-field>
                </e-rows>
                <e-columns>
                    <e-field name="ShipName"></e-field>
                </e-columns>
                <e-values>
                    <e-field name="Freight" caption="Sum of Freight"></e-field>
                </e-values>
            </e-datasourcesettings>
        </ejs-pivotview>
    </div>
</div>
